@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
  background-color: #000000;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  line-height: 1.5;
  padding-left: 100px;
  padding-right: 100px;
  color: #ffffff;
}

header,
section,
footer,
p {
  width: 100%;
}

header {
  margin-top: 150px;
  margin-bottom: 150px;
}

h1 {
  font-size: 24px;
}

section {
  margin-bottom: 90px;
}

.copy {
  width: 350px;
}

.image1 {
  max-width: 1200px;
}

.image2,
img {
  margin-bottom: 50px;
}

.white-text {
  background-color: #fff;
  color: #000000;
  padding: 16px;
}

.image2 .white-text {
  max-width: 630px;
}

.image3 .white-text {
  max-width: 1100px;
}

.process h1 {
  margin-bottom: 50px;
  border-bottom: #fff 1px solid;
  padding-bottom: 50px;
  max-width: 1100px;
}

.process p {
  max-width: 450px;
}

footer {
  background-color: #1a1a1a;
  padding: 36px 48px;
  margin-bottom: 177px;
  max-width: 1100px;
}

footer nav {
  margin-top: 48px;
  color: #6a6a6a;
}

footer .email {
  color: #6a6a6a;
}

@media (max-width: 720px) {
  body {
    padding-left: 30px;
    padding-right: 30px;
  }

  header {
    margin-top: 36px;
    margin-bottom: 22px;
  }
  section {
    margin-bottom: 56px;
  }

  footer {
    width: auto;
    margin-left: -30px; /* gets rid of the margin we set in the body */
    margin-right: -30px;
    margin-bottom: 0; /* gets rid of margin we set in the footer prior to media query */
  }

  footer nav a {
    display: block; /* have nav stack on top of eachother for easier tap-ability */
    margin-bottom: 18px;
  }
}
